parameters:
	ignoreErrors:
		-
			message: "#^Call to deprecated function xar_legacy_validations_dropdown\\(\\)\\.$#"
			count: 1
			path: html/code/modules/base/xarproperties/dropdown.php

		-
			message: "#^Call to deprecated function xar_legacy_validations_dropdown\\(\\)\\.$#"
			count: 1
			path: html/code/modules/base/xarproperties/multiselect.php

		-
			message: "#^Use of constant FILTER_SANITIZE_STRING is deprecated\\.$#"
			count: 1
			path: html/code/modules/base/xarproperties/textbox.php

		-
			message: "#^Undefined variable\\: \\$maxlength$#"
			count: 1
			path: html/code/modules/dynamicdata/class/admingui/showpropval.php

		-
			message: "#^Undefined variable\\: \\$size$#"
			count: 1
			path: html/code/modules/dynamicdata/class/admingui/showpropval.php

		-
			message: "#^Undefined variable\\: \\$tabindex$#"
			count: 1
			path: html/code/modules/dynamicdata/class/admingui/showpropval.php

		-
			message: "#^Call to an undefined method DataObjectMaster\\:\\:checkInput\\(\\)\\.$#"
			count: 1
			path: html/code/modules/dynamicdata/class/objects/master.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:createModuleSymLinks\\(\\) has invalid type Composer\\\\Script\\\\Event\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:createPropertySymLinks\\(\\) has invalid type Composer\\\\Script\\\\Event\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:eventHandler\\(\\) has invalid type Composer\\\\Script\\\\Event\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:postPackageInstall\\(\\) has invalid type Composer\\\\Installer\\\\PackageEvent\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:postPackageUninstall\\(\\) has invalid type Composer\\\\Installer\\\\PackageEvent\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:postPackageUpdate\\(\\) has invalid type Composer\\\\Installer\\\\PackageEvent\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:removeModuleSymLinks\\(\\) has invalid type Composer\\\\Script\\\\Event\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:removePropertySymLinks\\(\\) has invalid type Composer\\\\Script\\\\Event\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Parameter \\$event of method xarInstallComposer\\:\\:showProperties\\(\\) has invalid type Composer\\\\Script\\\\Event\\.$#"
			count: 1
			path: html/code/modules/installer/composer.php

		-
			message: "#^Undefined variable\\: \\$show$#"
			count: 1
			path: html/code/modules/privileges/xaradmin/modifyprivilege.php

		-
			message: "#^Function getcomponents not found\\.$#"
			count: 1
			path: html/code/modules/privileges/xaradminapi/getcomponents.php

		-
			message: "#^Call to deprecated function xar_legacy_templates_fixLegacy\\(\\)\\.$#"
			count: 1
			path: html/lib/blocklayout/xsltransformer.php

		-
			message: "#^Function eaccelerator not found\\.$#"
			count: 1
			path: html/lib/xaraya/caching/storage/eaccelerator.php

		-
			message: "#^Function eaccelerator_gc not found\\.$#"
			count: 1
			path: html/lib/xaraya/caching/storage/eaccelerator.php

		-
			message: "#^Function eaccelerator_get not found\\.$#"
			count: 2
			path: html/lib/xaraya/caching/storage/eaccelerator.php

		-
			message: "#^Function eaccelerator_put not found\\.$#"
			count: 2
			path: html/lib/xaraya/caching/storage/eaccelerator.php

		-
			message: "#^Function eaccelerator_rm not found\\.$#"
			count: 1
			path: html/lib/xaraya/caching/storage/eaccelerator.php

		-
			message: "#^Function mmcache not found\\.$#"
			count: 1
			path: html/lib/xaraya/caching/storage/mmcache.php

		-
			message: "#^Function mmcache_gc not found\\.$#"
			count: 1
			path: html/lib/xaraya/caching/storage/mmcache.php

		-
			message: "#^Function mmcache_get not found\\.$#"
			count: 2
			path: html/lib/xaraya/caching/storage/mmcache.php

		-
			message: "#^Function mmcache_put not found\\.$#"
			count: 2
			path: html/lib/xaraya/caching/storage/mmcache.php

		-
			message: "#^Function mmcache_rm not found\\.$#"
			count: 1
			path: html/lib/xaraya/caching/storage/mmcache.php

		-
			message: "#^Function mcrypt_generic not found\\.$#"
			count: 1
			path: html/lib/xaraya/encryptor.php

		-
			message: "#^Function mcrypt_generic_deinit not found\\.$#"
			count: 2
			path: html/lib/xaraya/encryptor.php

		-
			message: "#^Function mcrypt_generic_init not found\\.$#"
			count: 2
			path: html/lib/xaraya/encryptor.php

		-
			message: "#^Function mdecrypt_generic not found\\.$#"
			count: 1
			path: html/lib/xaraya/encryptor.php

		-
			message: "#^Call to an undefined method Xaraya\\\\Modules\\\\HooksClass\\:\\:getItemType\\(\\)\\.$#"
			count: 2
			path: html/lib/xaraya/modules/hooks.php

		-
			message: "#^Call to an undefined method Xaraya\\\\Modules\\\\HooksClass\\:\\:getModName\\(\\)\\.$#"
			count: 2
			path: html/lib/xaraya/modules/hooks.php

		-
			message: "#^Instantiated class soap_fault not found\\.$#"
			count: 1
			path: html/ws.php

