includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - html
        - developer
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - html/var/*
        - html/lib/creole/*
    parallel:
        processTimeout: 300.0
