/*  High contrast style, to somewhat emulate Google'ish and Yahoo'ish simplicity */

/*
with the styleswitcher in this theme we mainly need to override/modify 
those attributes which influence colours, like color, background-color 
and background-image.. although it's possible to alter any other rule here,
lets keep these alternative stylesheets relatively small and easy to work with.
------------------------------------------------------------------[important note] */

body {
    color: #000000;
    background-color: #666666;
    background-image: url(../images/page_bg_hicontrast.gif);
}

a { color: #CC3333; }
a:link:hover, a:visited:hover { color: #CD2000; }
.xar-menu-section { color: #D5004B; }
h1, h2, h3, h4 { color: #000000; }

.xar-mod-head {
    color: #000000;
    background-color: #EEEEEE;
    border-color: #000000;
}

th {
    color: #000000;
    background-color: #F6F6F6;
}

.xar-alt { background-color: #EEE7EC; }
.xar-accent { background-color: #E7EAEE; }
.xar-alt-outline { border-color: #803200; }
.xar-accent-outline { border-color: #003780; }
.xar-norm-outline { border-color: #747075; }
.xar-norm { background-color: #FFFFFF; }

/* BLOCKS */
.xar-block-title, .xar-block-title-right {
    color: #ffffff;
    background-color: #666666;
    padding: 0 4px;
}

/* MENUS */
.xar-menu-section h4 { color: #666666; }

/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */
div#xc-header { background-color: #ffffff; }
div#xc-header h1 a { background-image: url(../images/xaraya_logo_contrast.gif); }

div#xc-footer {
    background-image: url(../images/page_bg_hicontrast.gif);
    background-repeat: repeat-x;
    background-position: 0% 20%;
}
