body {
    color: #7F5300;
    background-color: #996600;
    background-image: url(../images/page_bg_orange.gif);
}

a { color: #FF9900; }
a:link:hover, a:visited:hover { color: #E54000; }
h1, h2, h3, h4 { color: #996600; }

.xar-mod-head {
    color: #7F5300;
    background-color: #E7E2C6;
    border-color: #7F5300;
}

th {
    color: #7F5300;
    background-color: #F8F6DF;
}

.xar-alt { background-color: #F8E8B8; }
.xar-accent { background-color: #EDEBD5; }
.xar-alt-outline { border-color: #996C40; }
.xar-accent-outline { border-color: #994040; }
.xar-norm-outline { border-color: #7F5300; }
.xar-norm { background-color: #FFFFFF; }

/* BLOCKS */
.xar-block-title, .xar-block-title-right {
    color: #7F5300;
    background-color: #F2EADD;
    background-image: url(../images/page_bg_orange.gif);
}

/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */
div#xc-header { background-color: #EDEBD5; }
div#xc-header h1 a { background-image: url(../images/xaraya_logo_orange.gif); }

div#xc-footer {
    background-image: url(../images/page_bg_orange.gif);
    background-repeat: repeat-x;
    background-position: 0% 20%;
}

p#footermsg { background-position: -204px 0px; }

/* MENUS (in sideblocks) */
.xar-block-body ul li.xar-menu-section, 
.xar-block-body-right ul li.xar-menu-section { border-color: #D9D0BF; }

.xar-block-body ul li.xar-menu-section h4, 
.xar-block-body-right ul li.xar-menu-section h4 {
    color: #fefefe;
    background-color: #D9D0BF;
}

.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a,
.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover,
.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a,
.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover { border-bottom-color: #F2F1ED; }
.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a { color: #B2A78F; }

.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover {
    color: #665533;
    background-color: #EDEAE4;
}

.xar-block-body ul ul li.xar-menu-item-current, 
.xar-block-body-right ul ul li.xar-menu-item-current { border-color: #BFB8A8; }
.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a { background-color: #EDEAE4; }

.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover {
    color: #FFFFFF;
    background-color: #BFB8A8;
}

.xar-block-body ul ul li.xar-menu-subitem, 
.xar-block-body-right ul ul li.xar-menu-subitem,
.xar-block-body ul ul li.xar-menu-subitem-current, 
.xar-block-body-right ul ul li.xar-menu-subitem-current {
    border-right-color: #DEDBD5;
    border-left-color: #DEDBD5;
}

.xar-block-body ul ul li.xar-menu-subitem a, 
.xar-block-body-right ul ul li.xar-menu-subitem a,
.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
    background-color: #FFFFFF;
    border-bottom-color: #F2F1ED;
}

.xar-block-body ul ul li.xar-menu-subitem a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem a:hover {
    color: #665533;
    background-color: #DEDBD5;
}

.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
    color: #333333;
    background-color: #DEDBD5;
}

.xar-block-body ul ul li.xar-menu-subitem-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a:hover {
    color: #FFFFFF;
    background-color: #BFB8A8;
}