body {
    color: #003F3F;
    background-color: #336633;
    background-image: url(../images/page_bg_green.gif);
}

a { color: #3F7F7F; }
a:link:hover, a:visited:hover { color: #994040; }
h1, h2, h3, h4 { color: #336633; }

.xar-mod-head {
    color: #FFFFFF;
    background-color: #336633;
    border-color: #88A788;
}

th {
    color: #3F7F7F;
    background-color: #D2E3CC;
}

.xar-alt { background-color: #E2F0DF; }
.xar-accent { background-color: #ABC7A8; }
.xar-alt-outline { border-color: #006633; }
.xar-accent-outline { border-color: #009966; }
.xar-norm-outline { border-color: #007F7F; }
.xar-norm { background-color: #FFFFFF; }

/* BLOCKS */
.xar-block-title, .xar-block-title-right {
    color: #336633;
    background-color: #D2E3CC;
    background-image: url(../images/page_bg_green.gif);
}

/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */
div#xc-header { background-color: #E2F0DF; }
div#xc-header h1 a { background-image: url(../images/xaraya_logo_green.gif); }

div#xc-footer {
    background-image: url(../images/page_bg_green.gif);
    background-repeat: repeat-x;
    background-position: 0% 20%;
}

/* MENUS (in sideblocks) */

.xar-block-body ul li.xar-menu-section, 
.xar-block-body-right ul li.xar-menu-section { background-color: #669980; }

.xar-block-body ul li.xar-menu-section h4, 
.xar-block-body-right ul li.xar-menu-section h4 {
    color: #efefef;
    background-image: url(../images/page_bg_green.gif);
}

.xar-block-body ul li a, 
.xar-block-body-right ul li a {
    color: #336633;
    background-color: #EBF0ED;
}

.xar-block-body ul li a:hover, 
.xar-block-body-right ul li a:hover {
    color: #ffffff;
    background-color: #B7C9C0;
}

.xar-block-body ul ul ul li a, 
.xar-block-body-right ul ul ul li a { background-color: #F0F5F2; }

.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a {
    border-right-color: #8FBFA7;
    border-left-color: #B8CCC2;
}

.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover {
    border-right-color: #75BF9A;
    border-left-color: #D5EDE1;
}

.xar-block-body ul ul li.xar-menu-item, 
.xar-block-body-right ul ul li.xar-menu-item,
.xar-block-body ul ul li.xar-menu-item-current, 
.xar-block-body-right ul ul li.xar-menu-item-current { border-bottom-color: #F2FFF9; }

.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a {
    border-right-color: #D5DED9;
}

.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover { border-right-color: #79C7A0; }


.xar-block-body ul ul li.xar-menu-subitem-current, 
.xar-block-body-right ul ul li.xar-menu-subitem-current {
    border-color: #FFFFFF;
}

.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
    color: #333333;
    border-right-color: #73FFB9;
    background-color: #f9f9f9;
}

.xar-block-body ul ul li.xar-menu-subitem-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a:hover {
    color: #fafafa;
    border-right-color: #73FFB9;
    background-color: #679980;
}