body {
    color: #000000;
    background-color: #666666;
    background-image: url(../images/highcontrast/gradients.png);
}

a { color: #CC3333; }
a:link:hover, a:visited:hover { color: #CD2000; }
.xar-menu-section { color: #D5004B; }
h1, h2, h3, h4 { color: #000000; }

legend {
    color: #666666;
    background-image: url(../images/highcontrast/gradients.png);
}

label.xar-form-label {
    color: #666666;
}

.xar-mod-head {
    color: #000000;
    background-image: url(../images/highcontrast/gradients.png);
}

th {
    color: #000000;
    background-color: #F6F6F6;
}

.xar-alt { background-color: #EEE7EC; }
.xar-accent { background-color: #E7EAEE; }
.xar-alt-outline { border-color: #803200; }
.xar-accent-outline { border-color: #003780; }
.xar-norm-outline { border-color: #747075; }
.xar-norm { background-color: #FFFFFF; }

/* BLOCKS */
.xar-block-title, .xar-block-title-right {
    color: #333333;
    background-color: #f0f0f0;
    background-image: url(../images/highcontrast/gradients.png);
}

/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */
div#xc-header,
div#xc-header-rightbevel,
div#xc-header h1,
div#xc-footer-leftbevel,
div#xc-footer-rightbevel,
div#xc-footer { background-image: url(../images/highcontrast/gradients.png); }

div#classicthemecontrols a#xc-switch-grey {
    background-image: url(../images/switcherctrls.png);
    background-position: -75px 0px;
}

div#classicthemecontrols a#xc-switch-grey:hover { height: 25px; }

/* MENUS (in sideblocks) */
.xar-block-body ul li.xar-menu-section, 
.xar-block-body-right ul li.xar-menu-section { border-color: #D9D9D9; }

.xar-block-body ul li.xar-menu-section h4, 
.xar-block-body-right ul li.xar-menu-section h4 {
    color: #fefefe;
    background-color: #9B9B9B;
}

.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a,
.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover,
.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a,
.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover { border-bottom-color: #F2F2F2; }
.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a { color: #9B9B9B; }

.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover {
    color: #666666;
    background-color: #EDEDED;
}

.xar-block-body ul ul li.xar-menu-item-current, 
.xar-block-body-right ul ul li.xar-menu-item-current { border-color: #BFBFBF; }
.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a { background-color: #EDEDED; }

.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover {
    color: #FFFFFF;
    background-color: #BFBFBF;
}

.xar-block-body ul ul li.xar-menu-subitem, 
.xar-block-body-right ul ul li.xar-menu-subitem,
.xar-block-body ul ul li.xar-menu-subitem-current, 
.xar-block-body-right ul ul li.xar-menu-subitem-current {
    border-right-color: #DEDEDE;
    border-left-color: #DEDEDE;
}

.xar-block-body ul ul li.xar-menu-subitem a, 
.xar-block-body-right ul ul li.xar-menu-subitem a,
.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
    background-color: #FFFFFF;
    border-bottom-color: #F2F2F2;
}

.xar-block-body ul ul li.xar-menu-subitem a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem a:hover {
    color: #666666;
    background-color: #DEDEDE;
}

.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
    color: #333333;
    background-color: #DEDEDE;
}

.xar-block-body ul ul li.xar-menu-subitem-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a:hover {
    color: #FFFFFF;
    background-color: #BFBFBF;
}
