body {
    color: #003F3F;
    background-color: #669966;
    background-image: url(../images/green/gradients.png);
}

a { color: #3F7F7F; }
a:link:hover, a:visited:hover { color: #994040; }
h1, h2, h3, h4 { color: #336633; }

legend {
    color: #003F3F;
    background-image: url(../images/green/gradients.png);
}

label.xar-form-label {
    color: #003F3F;
}

.xar-mod-head {
    color: #336633;
    background-image: url(../images/green/gradients.png);}

th {
    color: #3F7F7F;
    background-color: #D2E3CC;
}

.xar-alt { background-color: #E2F0DF; }
.xar-accent { background-color: #ABC7A8; }
.xar-alt-outline { border-color: #006633; }
.xar-accent-outline { border-color: #009966; }
.xar-norm-outline { border-color: #007F7F; }
.xar-norm { background-color: #FFFFFF; }

/* BLOCKS */
.xar-block-title, .xar-block-title-right {
    color: #336633;
    background-color: #D2E3CC;
    background-image: url(../images/green/gradients.png);
}

/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */
div#xc-header,
div#xc-header-rightbevel,
div#xc-header h1,
div#xc-footer-leftbevel,
div#xc-footer-rightbevel,
div#xc-footer { background-image: url(../images/green/gradients.png); }

div#classicthemecontrols a#xc-switch-green {
    background-image: url(../images/switcherctrls.png);
    background-position: -25px 0px;
}

div#classicthemecontrols a#xc-switch-green:hover { height: 25px; }


/* MENUS (in sideblocks) */
.xar-block-body ul li.xar-menu-section, 
.xar-block-body-right ul li.xar-menu-section { border-color: #C3D9BF; }

.xar-block-body ul li.xar-menu-section h4, 
.xar-block-body-right ul li.xar-menu-section h4 {
    color: #fefefe;
    background-color: #C3D9BF;
}

.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a,
.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover,
.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a,
.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover { border-bottom-color: #EEF2ED; }
.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a { color: #95B28F; }

.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover {
    color: #3C6633;
    background-color: #E5EDE4;
}

.xar-block-body ul ul li.xar-menu-item-current, 
.xar-block-body-right ul ul li.xar-menu-item-current { border-color: #ACBFA8; }
.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a { background-color: #E5EDE4; }

.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover {
    color: #FFFFFF;
    background-color: #ACBFA8;
}

.xar-block-body ul ul li.xar-menu-subitem, 
.xar-block-body-right ul ul li.xar-menu-subitem,
.xar-block-body ul ul li.xar-menu-subitem-current, 
.xar-block-body-right ul ul li.xar-menu-subitem-current {
    border-right-color: #D6DED5;
    border-left-color: #D6DED5;
}

.xar-block-body ul ul li.xar-menu-subitem a, 
.xar-block-body-right ul ul li.xar-menu-subitem a,
.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
    background-color: #FFFFFF;
    border-bottom-color: #EEF2ED;
}

.xar-block-body ul ul li.xar-menu-subitem a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem a:hover {
    color: #3C6633;
    background-color: #D6DED5;
}

.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
    color: #333333;
    background-color: #D6DED5;
}

.xar-block-body ul ul li.xar-menu-subitem-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a:hover {
    color: #FFFFFF;
    background-color: #ACBFA8;
}
