/*  High contrast style, to somewhat emulate Google'ish and Yahoo'ish simplicity */

/*
with the styleswitcher in this theme we mainly need to override/modify 
those attributes which influence colours, like color, background-color 
and background-image.. although it's possible to alter any other rule here,
lets keep these alternative stylesheets relatively small and easy to work with.
------------------------------------------------------------------[important note] */

body {
	color: #000000;
	background-color: #FFFFFF;
	background-image: none;
}

a { color: #5B3D74; }
a:link:hover, a:visited:hover { color: #CD2000; }

.xar-menu-section { color: #D5004B;}

.xar-mod-head {
	color: #000000;
	background-color: #EEEEEE;
	border-color: #000000;
}

th {
	color: #000000;
	background-color: #F6F6F6;
}
.xar-alt { background-color: #EEE7EC; }
.xar-accent { background-color: #E7EAEE; }
.xar-alt-outline { border-color: #803200; }
.xar-accent-outline { border-color: #003780; }
.xar-norm-outline { border-color: #747075; }
.xar-norm { background-color: #FFFFFF; }

/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */

div#classicheader {
	background-image: url(../images/xa_logo_contrast.jpg);
}

td#leftmenus, td#rightmenus, td#maincontent, div#classicfooter {
	color: #000000;
	background-color: #FFFFFF;
	background-image: none;
}