/* Orang'ish colours styles */

/*
with the styleswitcher in this theme we mainly need to override/modify 
those attributes which influence colours, like color, background-color 
and background-image.. although it's possible to alter any other rule here,
lets keep these alternative stylesheets relatively small and easy to work with.
------------------------------------------------------------------[important note] */

body {
	color: #7F5300;
	background-color: #E59600;
	background-image: url(../images/page_bg_orange.jpg);
}

a { color: #7F693F; }
a:link:hover, a:visited:hover { color: #E54000; }

.xar-mod-head {
	color: #7F5300;
	background-color: #FFD37F;
	border-color: #7F5300;
}

th {
	color: #7F5300;
	background-color: #F2EADD;
}
.xar-alt { background-color: #FFDE80; }
.xar-accent { background-color: #E5CF00; }
.xar-alt-outline { border-color: #996C40;}
.xar-accent-outline { border-color: #994040; }
.xar-norm-outline { border-color: #7F5300; }
.xar-norm { background-color: #FFFFFF; }

/* MENUS */
ul.xar-menu-section, ul.xar-menu-item, ul.xar-menu-subitem { background-color: #FFF8E6; }

.xar-menu-section a { color: #E14F21; }

ul li.xar-menu-section {
	border-color: #C7D2E2 #DBDEE2 #DBDEE2 #C7D2E2;
}
.xar-menu-section h4 {
	border-bottom: #E59600;
}

.xar-menu-section a:hover {
	color: #fff;
	background-color: #E59600;
}

.xar-menu-section ul ul a {
	color: #fff;
	background-color: #E59600;
}

.xar-menu-section ul ul a:hover {
	color: #804340;
	background-color: #FFD37F;
}


li.xar-menu-section-current a {
	color: #583D2C;
	background-color: #FFD37F;
}

li.xar-menu-item-current {
	color: #2C3F58;
	background-color: #FFDE80;
}

li li.xar-menu-subitem-current a, li.xar-menu-item-current a {
	color: #5C3C00;
	background-color: #FFA700;
}


/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */

div#classicheader {
	background-image: url(../images/xa_logo_orange.jpg);
}

div#classicfooter {
	background-image: url(../images/footer_bg_orange.jpg);
} 