/* Blue'ish colours styles */

body {
	color: #003780;
	background-color: #8296BB;
	background-image: url(../images/page_bg.jpg);
	background-repeat: repeat-x;
	background-position: 100% 0;
} /*
body defines basic viewport properties 
-------------------------------------------------------------------------[comment] */

a {
	text-decoration: none;
	color: #58657E;
	font-weight: bold;
} /*
a normal link is being styled similarly across all pages, unless re-declared
-------------------------------------------------------------------------[comment] */

a:link 		{}
a:visited 	{}
a:active 	{}
a:hover 	{} /*
leave pseudo-classes exactly in this order even if you decide to re-declare them 
------------------------------------------------------------------[important note] */
a:link:hover, a:visited:hover {
	color: #F12600;
	text-decoration: underline;
} /*
we dont really want to underline and hilite named anchors in this theme, just links 
------------------------------------------------------------------[important note] */

/*
Tables and related selectors
-------------------------------------------------------------------------[comment] */
table {
	border-collapse: collapse;
	border-style: solid;
	border-color: #757F8B;
	border-width: 0px;
} /*
the actual border should be visible only when border-width is re-declared
------------------------------------------------------------------[important note] */

th {
	color: #55627A;
	background-color: #DEE3ED;
}

tfoot {
	font-weight: bold;
	background-color: #cdd5f8;
}

/*
General text and related selectors 
-------------------------------------------------------------------------[comment] */
h1, h2, h3, h4 {
	color: #BA1D00;
} /*
page headers - shared typography and positioning 
-------------------------------------------------------------------------[comment] */

pre {
	color: #80005C;
}

blockquote {
	color: #191970;
}

code {
	color: #191970;
}

/*
Form elements 
-------------------------------------------------------------------------[comment] */
button, input, select, textarea {
	color: #002D80;
	background-color: #F8F8F8;
} /*
shared properties for form elements
-------------------------------------------------------------------------[comment] */

/*
replaced elements 
-------------------------------------------------------------------------[comment] */


/*
list elements 
-------------------------------------------------------------------------[comment] */
ul, li, ol {
	line-height: 140%;
}

/* THEME SPECIFIC CLASSES [gen_heading] */
h5, h6 {
	color: #191970;
}

hr {
	color: #c0c0c0;
}

checkbox {
	background-color: transparent;
}

/* XARAYA REQUIRED INDIVIDUAL CLASSES [gen_heading] */
td.xar-norm { }
td.xar-alt { }

/* XARAYA REQUIRED ANONYMOUS CLASSES  [gen_heading] */

/*
these defaults apply to the left block group 
-------------------------------------------------------------------------[comment] */
.xar-block-head {
	border-bottom: 1px solid #191970;
	color: #191970;
}

.xar-block-title {
	font-weight: bold;
	font-size: 110%;
}

.xar-block-body { }

.xar-block-foot {
	margin-bottom: 5px;
}

/*
these defaults apply to the right block group 
-------------------------------------------------------------------------[comment] */ 

/*
topnav block group classes 
-------------------------------------------------------------------------[comment] */

/*
center block group classes 
-------------------------------------------------------------------------[comment] */
.xar-block-head-center {
	height: 6px;
	width: 100%;
}

.xar-block-title-center {
	color: #e47c55;
	background-color: inherit;
}

.xar-block-body-center {
	background-color: #E7EAEE;
}

/*
module rendering area and related rules 
-------------------------------------------------------------------------[comment] */
.xar-mod-head {
	color: #ffffff;
	background-color: #8296BB;
	border-color: #A0B8E5;
}

/*
complementary styling - backgrounds and outlines 
-------------------------------------------------------------------------[comment] */
.xar-alt { background-color: #E7E9F4; }

.xar-accent { background-color: #E7EAF4; }

.xar-alt-outline {
	border-color: #A782BB;
}
.xar-accent-outline {
	border-color: #82BBA7;
}
.xar-norm-outline {
	border-color: #8296BB;
}

.xar-norm { background-color: #FFFFFF; }

/*
system menus and related rules 
-------------------------------------------------------------------------[comment] */
.xar-menu-section {
	color: #BB8296;
	border-color: #A9AFBA;
}

.xar-menu-section-current {
	background-color: #E9E7EE;
	border-bottom: 1px solid #191970;
}

.xar-menu-item {
	background-color: #E9E7EE;
}



.xar-menu-item-current {
	background-color: #FFFFFF;
}

.xar-menu-subitem {
	background-color: #FFFFFF;
}

.xar-menu-subitem:hover { background-color: transparent; }

.xar-menu-subitem-current {
	background-color: #FFFFFF;
}

.xar-error { color: #ff0000; }

/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */

div#classicheader {
}

div#classicheader img {
} /*
the only image we use in the header itself is logo 
-------------------------------------------------------------------------[comment] */

div#classicthemecontrols {
}

div#classicthemecontrols span {
}

div.xar-block-body-topnav li, div.xar-block-body-topnav ul {
} /*
since topnav group is available by default, we must be able to lay it out
-------------------------------------------------------------------------[comment] */


div.xar-block-body-topnav {
	border-color: #757F8B;
}

/* .xar-block-head-topnav, .xar-block-title-topnav, .xar-block-foot-topnav  { display:none; } */


table#classiccontentarea {
	border-color: #757F8B;
} /*
this table 'holds' our dynamic content in this theme (not ideal, but..)
-------------------------------------------------------------------------[comment] */

td#leftmenus {
	background-image: url(../images/leftmenus_bg.jpg);
	background-repeat: repeat-y;
	background-position: 0 0;
} /*
area occupied by leftblocksgroup 
-------------------------------------------------------------------------[comment] */

div#leftmenuswrapper {
	margin:5px;
} /*
pixel-perfect positioning for leftblocksgroup 
-------------------------------------------------------------------------[comment] */


td#rightmenus {	
	background-image: url(../images/rightmenus_bg.jpg);
	background-repeat: repeat-y;
	background-position: 0 0;
} /*
area occupied by rightblocksgroup 
-------------------------------------------------------------------------[comment] */

div#rightmenuswrapper {
	margin:5px;
} /*
pixel-perfect positioning for rightblocksgroup 
-------------------------------------------------------------------------[comment] */

/*
notice that we can avoid using explicit width declaration for the above wrappers,
all this is done for the sake of cross-browser compatibility and, at the same time,
to avoid using IE/Win specific hacks for its broken box model 
------------------------------------------------------------------[important note] */

td#rightmenus, td#leftmenus {
	border-color: #757F8B;
} /*
menu areas - shared properties for both rules
-------------------------------------------------------------------------[comment] */

td#maincontent {
	background-image: url(../images/leftmenus_bg.jpg);
	background-repeat: repeat;
	background-position: 0 0;
	border-color: #757F8B;
} /*
it is possible to use padding in this case, because width of this container
should be calculated correctly by all modern (and old) browsers (table cell)
-------------------------------------------------------------------------[comment] */


div#footerwrapper {
	border-color: #757F8B;
} /*
positioning and minimal styling of footer 
-------------------------------------------------------------------------[comment] */

div#classicfooter {
	background-image: url(../images/footer_bg.jpg);
} /*
footer container itself - watch for the explicit height limitations
-------------------------------------------------------------------------[comment] */

p#footermsg {

} /*
standard content of the footer, limited by explicit width and height 
-------------------------------------------------------------------------[comment] */

p#slogan {

} /*
site slogan can sit in the footer for now 
-------------------------------------------------------------------------[comment] */

p#copyright {

} /*
and so can the copyright info
-------------------------------------------------------------------------[comment] */

div.validators {

} /*
it is a kind of modern trend to display links to w3c validators 
-------------------------------------------------------------------------[comment] */

div.validators img {
	margin: 1px 0;
	display:block;
} /*
not so much a decoration, but rather a high visibility tool for beta-testers 
-------------------------------------------------------------------------[comment] */


abbr, acronym, .help {
	border-bottom: 1px dotted #999;
	cursor: help;
}