div#xc-leftbg-wrapper {
    width: auto;
    background-image: url(../images/bkgr200.gif);
    background-repeat: repeat-y;
    background-position: left top;
}

div#xc-rightbg-wrapper {
    width: auto;
    background-image: url(../images/bkgr200.gif);
    background-repeat: repeat-y;
    background-position: right top;
}

div#xc-outermargin-wrapper {
    width: auto;
    margin-left: 210px;
    margin-right: 210px;
}

div#xc-outermargin-noright-wrapper {
    width: auto;
    margin-left: 210px;
}

div#xc-outermargin-noleft-wrapper {
    width: auto;
    margin-right: 210px;
}

div#xc-inner-wrapper {
    margin: 0;
    width: 100%;
    background-color: #ffffff;
}

div#xc-innerbg-top { width: auto; }
div#xc-innerbg-bottom { width: auto; }
div#xc-innerbg-right { width: auto; }
div#xc-innerbg-left { width: auto; }
div#xc-innerbg { width: auto; }
div#xc-innerbg > div#xc-innerbg-top,
div#xc-innerbg > div#xc-innerbg-bottom { height: 1px; }

div#xc-left {
    float: left;
    position: relative;
    width: 200px;
    margin-left: -210px;
    background-color: transparent;
    z-index: 10;
}

div#xc-right {
    float: right;
    position: relative;
    width: 200px;
    margin-right: -210px;
    background-color: transparent;
    z-index: 11;
}

div.xc-side-content {
    margin: 0;
    padding: 10px;
}

div#xc-center-wrapper {
    float: left;
    position: relative;
    width: 100%;
    z-index: 12;
    margin:0;
}

div#xc-center {
    padding: 10px;
    position: relative;
}

div#xc-header {
    position: relative;
    z-index: 13;
    background-color: #DDDDF0;
    height: 70px;
    margin-bottom: 3px;
}

div#xc-header h1, div#xc-header h1 a {
    float: left;
    width: 245px;
    height: 70px;
    margin: 0;
    padding: 0;
}

div#xc-header h1 a {
    position: relative;
    background-image: url(../images/xaraya_logo_blue.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

/* hopefully enough for off-screen placement in all circumstances */
div#xc-header h1 a span {
    position: absolute;
    left: -9000px;
}

div#xc-footer {
    position: relative;
    z-index: 14;
    height: 50px;
    margin-top: 3px;
}

#xc-clear { clear: both; }

div#xc-outer-wrapper {
    min-width: 740px;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
}

div#xc-left { margin-right: 20px; }
div#xc-right { margin-left: 20px; }
div#xc-center-wrapper { margin: 0 -10px 0 -10px; }
/* small correction to allow center be centered without the left column */
div#xc-outermargin-noleft-wrapper  div#xc-center-wrapper { margin: 0 -10px 0 0; }
