/* system menus and related rules -------------------------------------------------------------------------[comment] */
.xar-block-body ul, .xar-block-body-right ul {
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: bold;
    display: block;
    line-height: 1.4em;
}

.xar-block-body ul li, .xar-block-body-right ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: none;
}

.xar-block-body ul li.xar-menu-section, 
.xar-block-body-right ul li.xar-menu-section { background-color: #666699; }

/* offset collapsing margins effect for heading tags */
.xar-block-body ul li.xar-menu-section h4, 
.xar-block-body-right ul li.xar-menu-section h4 {
    margin: 0;
    padding: 0 8px;
    color: #efefef;
    background-image: url(../images/page_bg.gif);
    background-repeat: repeat-x;
    background-position: 0% 50%;
}


.xar-block-body ul li a, 
.xar-block-body-right ul li a {
    text-decoration: none;
    display: block;
    color: #333366;
    background-color: #EBECEF;
    padding: 0 4px;
    margin: 0;
}

.xar-block-body ul li a:hover, 
.xar-block-body-right ul li a:hover {
    text-decoration: none;
    display: block;
    color: #ffffff;
    background-color: #B6B6C9;
    padding: 0 4px;
}

/* not sure if everybody likes right alignment and fixed font size, but here we go - change if it seems too annoying */
.xar-block-body ul ul ul li a, 
.xar-block-body-right ul ul ul li a {
    margin: 0;
    padding: 0 4px;
    text-align: right;
    font-weight: normal;
    font-size: 11px;
    background-color: #F2F3F6;
}

.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a {
    border-right: #9090BF;
    border-left: #B8BECC;
    border-width: 0 10px 0 4px;
    border-style: none solid none solid;
}

.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover {
    border-right: #7575C0;
    border-left: #D6DDED;
    border-width: 0 10px 0 4px;
    border-style: none solid none solid;
}

.xar-block-body ul ul li.xar-menu-item, 
.xar-block-body-right ul ul li.xar-menu-item,
.xar-block-body ul ul li.xar-menu-item-current, 
.xar-block-body-right ul ul li.xar-menu-item-current {}


.xar-block-body ul ul li.xar-menu-item-current, 
.xar-block-body-right ul ul li.xar-menu-item-current { margin-left: 4px; }

/*  we probably want to visually highlight the currently active items and subitems
    below is one of the possible implementations */

.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a {
    border-right: #D5D5DF;
    border-width: 0 10px 0 0;
    border-style: none solid none none;
}


.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover {
    border-right: #7A7AC7;
    border-width: 0 10px 0 0;
    border-style: none solid none none;
}


.xar-block-body ul ul li.xar-menu-subitem-current, 
.xar-block-body-right ul ul li.xar-menu-subitem-current {
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
}

.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
    padding-right: 4px;
    color: #333333;
    border-right: #7272FF;
    background-color: #f9f9f9;
    border-width: 0 9px 0 0;
    border-style: none solid none none;
}

.xar-block-body ul ul li.xar-menu-subitem-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a:hover {
    padding-right: 4px;
    color: #fafafa;
    border-right: 9px solid #7272FF;
    background-color: #666699;
}

/*  small problem - good browsers can calculate height of li elements just fine but ie-win cannot, 
    lets then set it explicitly for ie-win, skip for ie5-mac and reset back to default for others */

.xar-block-body ul li, 
.xar-block-body-right ul li, 
.xar-block-body ul li a, 
.xar-block-body-right ul li a { /*\*/ height:1.5em; /**/}

.xar-block-body ul > li, 
.xar-block-body-right ul > li, 
.xar-block-body ul li > a, 
.xar-block-body-right ul li > a { height: auto; }