/*  Xaraya_Classic - default theme.. [revision 2 by andyv_at_xaraya.com]

Lets make the CSS a bit more interesting and better organised than before;

Differences and aims of this revision will be:

	- improved readability and formatting of source
	- rules arranged according to page structure, layout and other properties
	- detailed comments for each class and selector
	- the page layouts should be rendered similar by a wide range of browsers
	- improved consistency for the theme typography
	- increased reliance on relative sizing and positioning
	- a few more advanced rules provided as examples of theme capabilities
	- cleaned up and removed unnecessary duplication of inheritable properties
	- introduced professional quality in colour co-ordination and graphics
*/

/* XARAYA REQUIRED CLASSES [gen_heading] */

/*
Main (X)HTML Selectors - Typography, Colours and Positioning 
-------------------------------------------------------------------------[comment] */
body {
	color: #003780;
	background-color: #8296BB;
	margin: 0;
	padding: 10px;
	min-width:710px;
	background-image: url(../images/page_bg.jpg);
	background-repeat: repeat-x;
	background-position: 100% 0;
} /*
body defines basic viewport properties 
-------------------------------------------------------------------------[comment] */

body {
	font-family: "trebuchet ms", verdana, helvetica, sans-serif;
	font-size: 76%;
	line-height:140%;
} /*
shared typography, which should be inherited by the descendants 
-------------------------------------------------------------------------[comment] */

table, td, th, thead, tbody, tfoot, button, input, select, textarea {
	font-family: "trebuchet ms", verdana, helvetica, sans-serif;
	font-size: 1em;
	line-height:140%;
	
} /*
more shared typography to reinforce it on certain browsers (IE/Win and Opera) 
-------------------------------------------------------------------------[comment] */

a {
	text-decoration: none;
	color: #58657E;
	font-weight: bold;
} /*
a normal link is being styled similarly across all pages, unless re-declared
-------------------------------------------------------------------------[comment] */

a:link 		{}
a:visited 	{}
a:active 	{}
a:hover 	{} /*
leave pseudo-classes exactly in this order even if you decide to re-declare them 
------------------------------------------------------------------[important note] */
a:link:hover, a:visited:hover {
	color: #F12600;
	text-decoration: underline;
} /*
we dont really want to underline and hilite named anchors in this theme, just links 
------------------------------------------------------------------[important note] */

/*
Tables and related selectors
-------------------------------------------------------------------------[comment] */
table {
	border-collapse: collapse;
	border-style: solid;
	border-color: #757F8B;
	border-width: 0px;
} /*
the actual border should be visible only when border-width is re-declared
------------------------------------------------------------------[important note] */

th {
	color: #55627A;
	background-color: #DEE3ED;
}

tfoot {
	font-weight: bold;
	background-color: #cdd5f8;
}

/*
General text and related selectors 
-------------------------------------------------------------------------[comment] */
h1, h2, h3, h4 {
	font-family: helvetica, tahoma, arial, sans-serif;
	font-weight: bold;
	color: #BA1D00;
	padding: 0em;
	margin: .5em 0 .5em 0;
} /*
page headers - shared typography and positioning 
-------------------------------------------------------------------------[comment] */

h1 {
	font-size: 140%;
	line-height: 120%;
}

h2 {
	font-size: 130%;
	line-height: 120%;
}

h3 {
	font-size: 120%;
	line-height: 120%;
}

h4 {
	font-size: 110%;
	line-height: 120%;
}

p { line-height: 140%; }

pre {
	color: #80005C;
	font-size: 95%;
	font-family: monaco, courier, monospace;
}

blockquote {
	color: #191970;
	margin: 2em;
}

code {
	color: #191970;
	font-family: monaco, courier, monospace;
}

sup, sub {
	font-size: 90%;
	font-weight: normal;
}

/*
Form elements 
-------------------------------------------------------------------------[comment] */
form {
	margin:0;
	padding:0;
}


input {
	font-weight: normal;
	text-indent: 2px;
}

button {
	border: 2px outset #f0f0f0;
}

select {
	font-weight: normal;
} /*
in many browsers appearance of select is handled by OSs widgets, not by css
------------------------------------------------------------------[important note] */

textarea {
	font-weight: normal;
	text-indent: 2px;
}

button, input, select, textarea {
	color: #002D80;
	background-color: #F8F8F8;
} /*
shared properties for form elements
-------------------------------------------------------------------------[comment] */

/*
replaced elements 
-------------------------------------------------------------------------[comment] */
img { border: 0px; }


/*
list elements 
-------------------------------------------------------------------------[comment] */
ul, li, ol {
	line-height: 140%;
}

/* THEME SPECIFIC CLASSES [gen_heading] */
h5, h6 {
	color: #191970;
	font-size: 95%;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

hr {
	width: 100%;
	color: #c0c0c0;
}

checkbox {
	background-color: transparent;
	font-weight: normal;
}

/* XARAYA REQUIRED INDIVIDUAL CLASSES [gen_heading] */
td.xar-norm { }
td.xar-alt { }

/* XARAYA REQUIRED ANONYMOUS CLASSES  [gen_heading] */

/*
these defaults apply to the left block group 
-------------------------------------------------------------------------[comment] */
.xar-block-head {
	border-bottom: 1px solid #191970;
	color: #191970;
}

.xar-block-title {
	font-weight: bold;
	font-size: 110%;
}

.xar-block-body { }

.xar-block-foot {
	margin-bottom: 5px;
}

/*
these defaults apply to the right block group 
-------------------------------------------------------------------------[comment] */ 
.xar-block-head-right {}

.xar-block-title-right {
	font-weight: bold;
	font-size: 110%;
}

.xar-block-body-right {}

.xar-block-foot-right {
	margin-bottom: 5px;
}

/*
topnav block group classes 
-------------------------------------------------------------------------[comment] */
.xar-block-head-topnav { }
.xar-block-title-topnav { }

.xar-block-body-topnav { }

.xar-block-foot-topnav { }

/*
center block group classes 
-------------------------------------------------------------------------[comment] */
.xar-block-head-center {
	height: 6px;
	width: 100%;
}

.xar-block-title-center {
	color: #e47c55;
	background-color: inherit;
	font-weight: bold;
	text-align: center;
}

.xar-block-body-center {
	background-color: #E7EAEE;
}

.xar-block-foot-center {
	height: 3px;
	width: 100%;
	margin-bottom: 4px;
}

/*
module rendering area and related rules 
-------------------------------------------------------------------------[comment] */
.xar-mod-head {
	color: #ffffff;
	background-color: #8296BB;
	padding: 2px;
	text-align: center;
	font-weight: bold;
	border-color: #A0B8E5;
	border-width: 1px;
	border-style: solid;
}

.xar-mod-title {
	font-size: 110%;
	font-weight: bold;
}

.xar-mod-body { }
.xar-mod-foot { }

/*
complementary styling - backgrounds and outlines 
-------------------------------------------------------------------------[comment] */
.xar-alt { background-color: #E7E9F4; }

.xar-accent { background-color: #E7EAF4; }

.xar-alt-outline {
	border-color: #A782BB;
	border-width: 1px;
	border-style: solid;
}
.xar-accent-outline {
	border-color: #82BBA7;
	border-width: 1px;
	border-style: solid;
}
.xar-norm-outline {
	border-color: #8296BB;
	border-width: 1px;
	border-style: solid;
}

.xar-norm { background-color: #FFFFFF; }

.xar-sub { font-size: 80%; }

/*
system menus and related rules 
-------------------------------------------------------------------------[comment] */

.xar-menu-item {
	font-weight: bold;
/* 	background-color: #E7EAEE; */
}

li.xar-menu-item a {
	padding-left:10px;
}

.xar-menu-subitem {
	padding: 0;
}

.xar-menu-section, .xar-menu-section ul {
	list-style-type: none;
	margin: 0;
	padding:0;
}

.xar-menu-section li {
	margin: 0 0 1px 0;
}

.xar-menu-section a {
	display: block;
	padding: 1px 0;
	width: 160px;
	color: #003780;
	background-color: #E7EAEE;
	text-decoration: none;
}

.xar-menu-section a:hover {
	color: #fff;
	background-color: #8296BB;
	text-decoration: none;
}

.xar-menu-section ul ul li, li.xar-menu-subitem-current {
	margin: 0 0 1px 10px;
}

.xar-menu-section ul ul a, li.xar-menu-subitem-current {
	display: block;
	padding: 1px 10px;
	width: 140px;
	color: #fff;
	background-color: #8296BB;
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 10px; 
	font-weight: bold;
	text-decoration: none;
} /* this is the only rule where we currently use absolute font size,
	 this is done only because of the horisontal space restriction in side menus
------------------------------------------------------------------[important note] */

li.xar-menu-section-current, li.xar-menu-subitem-current {
	color: #2C3F58;
	background-color: #B1C2E3;
}

li.xar-menu-item-current {
	color: #2C3F58;
	background-color: #E7EAEE;
	padding-left: 10px;
}

.xar-menu-section ul ul a:hover {
	color: #fff;
	background-color: #FF6B00;
	text-decoration: none;
}

/* li.xar-menu-item-current, .xar-menu-item-current a { background-color: #B1C2E3; } */

/*
this was the original method used in old classic, but it never worked in IE/Win 
-------------------------------------------------------------------------[comment] */
/* .xar-menu-item > a, .xar-menu-subitem > a { display: block; } */
/* .xar-menu-item-current > .xar-menu-subitem > a { color: #193970; } */
/* .xar-menu-subitem > a:hover { background-color: #cce6ff; } */
/* .xar-menu-item-current > .xar-menu-subitem > a:visited { color: #003366; } */

.xar-title {
	font-weight: bold;
}

.xar-error { color: #ff0000; }

/* THEME SPECIFIC ANONYMOUS CLASSES  [gen_heading] */

div#classicheader {
	width: 100%;
	height: 70px;
	background-image: url(../images/xa_logo.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

div#classicheader img {
	width: 245px;
	height: 70px;
	float:left;
}

div#classicthemecontrols {
	position:relative;
	width: 187px;
	float: right;
	padding:0 3px 0 0;
	margin:0;
}

div#classicthemecontrols img {
	position: relative;
	float: right;
	width:26px;
	height:21px;
}

* html div#classicthemecontrols img, * html div#classicheader img {
	margin: 0 -3px; ma\rgin: 0;
} /*
thus rule (with Tantek filter) is for the benefit of Win-IE browsers only - they 
cannot float linked images properly, without inserting 3px margins around them
------------------------------------------------------------------[important note] */

div.xar-block-body-topnav li, div.xar-block-body-topnav ul {
	display: inline;
	list-style-type: none;
	padding: 0 5px;
	margin:0;
	border:0;
} /*
since topnav group is available by default, we must be able to lay it out
-------------------------------------------------------------------------[comment] */


div.xar-block-body-topnav {
	min-width: 710px;
	border-color: #757F8B;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 2px;
	padding: 2px 0;
}

/* .xar-block-head-topnav, .xar-block-title-topnav, .xar-block-foot-topnav  { display:none; } */


table#classiccontentarea {
	width: 100%;
	margin: 0;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: #757F8B;
	border-width: 1px;
	border-style: solid;
} /*
this table 'holds' our dynamic content in this theme (not ideal, but..)
-------------------------------------------------------------------------[comment] */

td#leftmenus {
	background-image: url(../images/leftmenus_bg.jpg);
	background-repeat: repeat-y;
	background-position: 0 0;
} /*
area occupied by leftblocksgroup 
-------------------------------------------------------------------------[comment] */

div#leftmenuswrapper {
	margin:5px;
} /*
pixel-perfect positioning for leftblocksgroup 
-------------------------------------------------------------------------[comment] */


td#rightmenus {	
	background-image: url(../images/leftmenus_bg.jpg);
	background-repeat: repeat-y;
	background-position: 0 0;
} /*
area occupied by rightblocksgroup 
-------------------------------------------------------------------------[comment] */

div#rightmenuswrapper {
	margin:5px;
} /*
pixel-perfect positioning for rightblocksgroup 
-------------------------------------------------------------------------[comment] */

/*
notice that we can avoid using explicit width declaration for the above wrappers,
all this is done for the sake of cross-browser compatibility and, at the same time,
to avoid using IE/Win specific hacks for its broken box model 
------------------------------------------------------------------[important note] */

td#rightmenus, td#leftmenus {
	vertical-align: top;
	width: 180px;
	border-color: #757F8B;
	border-width: 1px;
	border-style: solid;
	
} /*
menu areas - shared properties for both rules
-------------------------------------------------------------------------[comment] */

td#maincontent {
	width: auto;
	vertical-align: top;
	background-image: url(../images/leftmenus_bg.jpg);
	background-repeat: repeat;
	background-position: 0 0;
	border-color: #757F8B;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
} /*
it is possible to use padding in this case, because width of this container
should be calculated correctly by all modern (and old) browsers (table cell)
-------------------------------------------------------------------------[comment] */


div#footerwrapper {
	padding: 3px;
	margin-top: 3px;
	border-color: #757F8B;
	border-width: 1px;
	border-style: solid;
} /*
positioning and minimal styling of footer 
-------------------------------------------------------------------------[comment] */

div#classicfooter {
	position: relative;
	height:54px;
	text-align: left;
	background-image: url(../images/footer_bg.jpg);
	background-repeat: repeat-x;
} /*
footer container itself - watch for the explicit height limitations
-------------------------------------------------------------------------[comment] */

p#footermsg {
	position: relative;
	float: right;
	padding: 3px 2px;
	width: 250px;
	text-align: right;
	margin:0;
} /*
standard content of the footer, limited by explicit width and height 
-------------------------------------------------------------------------[comment] */

p#slogan {
	float: left;
	padding: 20px 0 0 5px;
	width:auto;
	text-align: left;
	margin:0;
} /*
site slogan can sit in the footer for now 
-------------------------------------------------------------------------[comment] */

p#copyright {
	float: left;
	padding: 20px 0 0 5px;
	width:180px;
	text-align: center;
	margin:0;
} /*
and so can the copyright info
-------------------------------------------------------------------------[comment] */

div.validators {
	float:right;
	height:23px;
	width:102px;	
	padding-top:2px;
	margin-right:3px;
} /*
it is a kind of modern trend to display links to w3c validators 
-------------------------------------------------------------------------[comment] */

div.validators img {
	margin: 1px 0;
	display:block;
} /*
not so much a decoration, but rather a high visibility tool for beta-testers 
-------------------------------------------------------------------------[comment] */

/* MISCELLANEOUS [gen_heading] */
.txttitle {
	font-weight: bold;
	color: #336699;
	text-decoration: none;
}

.sidebtns {
	font-weight: bold;
	color: #336699;
	text-decoration: none;
}

.subhead {
	font-weight: bold;
	color: #60a9f0;
	text-decoration: none;
}

.btns {
	text-decoration: none;
	background-color: #FFD800;
	color: #000000;
	font-weight: bold;
	font-size: 9.5pt;
}

.busbtns {
	text-decoration: none;
	background-color: #85b8ea;
	color: #000000;
	font-weight: bold;
	font-size: 9.5pt;
}

.blk {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.LightUp {
	background-color: #cfe5fa;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.LightDown {
	background-color: #ffffff;
	color: #336699;
	font-weight: bold;
	font-size: 9.5pt;
	text-decoration: none;
}

.formUp { background-color: #e3f1ff; }

abbr, acronym, .help {
	border-bottom: 1px dotted #999;
	cursor: help;
}

/* EXPERIMENTAL RULES - keep them near the bottom [gen_heading] */

div.iewintablefixer {
	width: 100%;
	padding:0;
	margin:0;
} /*
it is a known fact that IE-Windows cannot correctly calculate width of a table in %,
when such table is positioned inside a div without explicit width, so
in order to avoid multiple hacks in this theme we just make sure that 
every container for every potential table has the width specified as 100%.
It is a small price to pay, considering there are only 3 places like this
in the whole theme - leftblocks content and rightblocks, which need to be wrapped
in this _special_ _fixer_ container.. [andyv]
------------------------------------------------------------------[important note] */



* html div#classicheader { 
/* 	width: expression((body.clientWidth <= 710) ? "710px" : "auto"); */
}

* html div#classicfooter { 
/* 	width: expression((body.clientWidth <= 710) ? "710px" : "auto"); */
}

* html table#classiccontentarea { 
/* 	width: expression((body.clientWidth <= 710) ? "710px" : "100%"); */
} /*
rules above are min-width equvivalent for IE-Win browsers only, 
because they dont support this property along with many 
other ordinary and extremely useful w3c standards, fancy that :-{
The only problem is how to make these things validate - uncomment at your own risk..
-------------------------------------------------------------------------[comment] */