/* system-wide navigation tabs nicely wrappable and made out of a list */
dl.xar-tabs {
    float: left;
    width: 100%;
    background: #e0e0e0 url("../xarimages/navtabs_bg.gif") repeat-x bottom;
    font-size: 93%;
    line-height: normal;
    margin: 0;
    padding: 10px 0 0;
}
html * dl.xar-tabs {
    display: table;
    float: none;
}
dl.xar-tabs dt.help {
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 5px 15px 4px 6px;
}
dl.xar-tabs dd {
    float: left;
    background: url("../xarimages/navtabs_left.gif") no-repeat left top;
    margin: 0;
    padding: 0 0 0 9px;
    border-bottom: 1px solid #696969;
}
dl.xar-tabs a {
    float: left;
    display: block;
    background: url("../xarimages/navtabs_right.gif") no-repeat right top;
    padding: 5px 15px 4px 6px;
    text-decoration: none;
    font-weight: bold;
    color: #777777;
}
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
dl.xar-tabs a {float: none;}
/* End IE5-Mac hack */
dl.xar-tabs a:hover {
    color: #333;
    text-decoration: none;
}
dl.xar-tabs dd.active {
    background-image: url("../xarimages/navtabs_left_on.gif");
    border-bottom: none;
}
dl.xar-tabs dd.active a {
    background-image: url("../xarimages/navtabs_right_on.gif");
    color: #990000;
    padding-bottom: 5px;
}

