/* system-wide navigation tabs nicely wrappable and made out of a list */
dl.xar-tabs {
    margin: 0 0 .5em 0;
    padding: 3px 0 0 0;
    width: 100%;
    float: left;
    background-color: #f0f0f0;
    line-height: 1.6em;
    border-bottom: 1px solid #a0a0a0;
}

html * dl.xar-tabs {
    display: table;
    float: none;
}

dl.xar-tabs dt.help {
    float: left;
    padding: 2px 6px;
    margin-bottom: -2px;
    line-height: 1.6em;
    border: 0 none;
    font-weight: bold;
}

dl.xar-tabs dd {
    margin: 1px -6px -1px 5px;
    padding: 0;
    float: left;
    border: 1px solid #a0a0a0;
    border-bottom: 1px solid #f0f0f0;
}

dl.xar-tabs dd a {
    display: block;
    padding: 0 .5em;
    color: #a0a0a0;
    background-color: #f9f9f9;
    text-decoration: none;
    white-space: nowrap;
}

dl.xar-tabs dd a:hover {
    color: #ffffff;
    background-color: #bbbbbb;
    text-decoration: none;
}

dl.xar-tabs dd.active a {
    color: #990000;
    background-color: white;
    border: 1px solid #990000;
    border-bottom: 1px solid #ffffff;
}

/* ie5-mac seems to need this */
* html dl.xar-tabs dd a { display: inline-block; }

/* a bit fancier look for good browsers */
dl.xar-tabs dd.active > a {
    margin: -3px 1px -1px -1px;
    border-bottom: 3px solid #ffffff;
}

* html dl.xar-tabs dd.active {
    margin-top: -3px;
    border: 0 none;
    line-height: 1.9em;
}

dl.xar-tabs dd.active a:hover {
    text-decoration: underline;
    color: #990000;
    background-color: white;
}
