ul.xar-tree {
    margin: 0;
    padding: 0;
}
ul.xar-tree li {
    margin: 0 0 2px 0;
    padding: 0;
    list-style: none;
}
ul.xar-tree li:after {
    content: '.';
    font-size: 0;
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
ul.xar-tree .leaf-actions {
    float: left;
    height: 100%;
    margin-right: 1em;
}
ul.xar-tree .leaf-body {
    float: left;
    height: 100%;
    white-space: nowrap;
}
ul.xar-tree .leaf-actions a {
    margin: 0;
    padding: 0;
    border: 0;
}
ul.xar-tree .leaf-actions img {
    vertical-align: text-top;
}
