/* [Xaraya common core css] - html/themes/common/style/core.css
    <xar:style scope="common"/>
    Place common core css for all themes here
        Over-ride per theme by copying file to html/themes/themename/style/core.css
 ----[/comment]  */
/* - Default core css files to import - */
@import url(xarcore-xhtml1-strict.css);
@import url(tabs.css);

/*
form related styling
-------------------------------------------------------------------------[comment] */
.xar-row {
    display: block;
    }
.xar-col {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    }
.xar-row .xar-col:first-child {
    width: 35%;
    }
.xar-row .xar-col:last-child {
    width: 65%;
    }
/*
text related styling
-------------------------------------------------------------------------[comment] */
.xar-note {
	color: #60802d;
	}
.xar-alert {
	color: #e10505;
	}
.xar-success {
	color: #5f9013;
	}
.xar-active {}