/* [Xaraya common tabs css] - html/themes/common/style/tabs.css
    <xar:style scope="theme" file="tabs"/>
    Place common tabs css for all themes here
        Over-ride per theme by copying file to html/themes/themename/style/tabs.css
 ----[/comment]  */
/* tabs */
ul.xar-tabs {
    list-style: none;
    border-width: 0 0 1px 0;
    border-style: dotted;
    padding: 0 .5em;
    margin: 1em 0;
    zoom: 1;                    /* fix for IE */
}
ul.xar-tabs li.xar-tabs-label {
    list-style: none;
    float: left;
    white-space: nowrap;
    border: 0;
    margin: .2em 1em .1em .5em;
    padding: 0;
}
ul.xar-tabs li.xar-tab {
    list-style: none;
    float: left;
    margin: 0 1px 0 1px;
    padding: 0;
}
ul.xar-tabs li.xar-tab-active {
    list-style: none;
    float: left;
    margin: 0 1px 0 1px;
    padding: 0;
}
ul.xar-tabs li.xar-tab a {
    white-space: nowrap;
    float: left;
    border-width: 1px 1px 0 1px;
    border-style: dotted;
    padding: .1em .75em .4em .75em;
}
ul.xar-tabs li.xar-tab-active a {
    white-space: nowrap;
    float: left;
    border-width: 1px 1px 0 1px;
    border-style: dotted;
    padding: .1em .75em .69em .75em; /* .69 bottom not subject to rounding errors
                                                   causing active tab to wrap badly at .70 */
    position: relative;
    margin: -.3em 0 0 0;
}

/* required for broken box models */
ul.xar-tabs:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
}