/* generic positioning */
.xar-left                   { text-align: left; }
.xar-right                  { text-align: right; }
.xar-center                 { text-align: center; }
.xar-top                    { vertical-align: top; }
.xar-middle                 { vertical-align: middle; }
.xar-bottom                 { vertical-align: bottom; }

/* box elements display */
.xar-block                  { display: block; }
.xar-inline                 { display: inline; }
.xar-list                   { display: list-item; }
/* this class may be deprecated in future in favour of more specific rules */
.xar-none                   { display: none; }

/* floated box elements positioning */
.xar-floatleft              { float: left; }
.xar-floatright             { float: right; }

/* floater height clearing - use with caution, see Hint (3) above */
.xar-clearleft              { clear: left; }
.xar-clearright             { clear: right; }
.xar-clearboth              { clear: both; }
/* this class may be deprecated in future in favour of more specific rules */
.xar-clearnone              { clear: none; }

/* common form elements */

.xar-textshort              { width: 5em; }
.xar-textmedium             { width: 10em; }
.xar-textlong               { width: 15em; }
.xar-textxlong              { width: 20em; }
.xar-textxxlong             { width: 25em; }

.xar-textareasmall         { height: 6ex; width: 90%; }
.xar-textareamedium        { height: 10ex; width: 90%; }
.xar-textarealarge         { height: 20ex; width: 90%; }
.xar-textareaxlarge        { height: 40ex; width: 90%; }



/* minimal formatting - relative padding */
.xar-padding-thin            { padding: 1px; }
.xar-padding-medium          { padding: 2px; }
.xar-padding-thick           { padding: 4px; }

.xar-padding-thintop         { padding: 1px 0em 0em 0em; }
.xar-padding-thinleft        { padding: 0em 1px 0em 0em; }
.xar-padding-thinbottom      { padding: 0em 0em 1px 0em 0em; }
.xar-padding-thinright       { padding: 0em 0em 0em 1px; }
.xar-padding-thinsides       { padding: 0em 1px; }
.xar-padding-thinends        { padding: 1px 0em; }

.xar-padding-mediumtop       { padding: 2px 0em 0em 0em; }
.xar-padding-mediumleft      { padding: 0em 2px 0em 0em; }
.xar-padding-mediumbottom    { padding: 0em 0em 2px 0em 0em; }
.xar-padding-mediumright     { padding: 0em 0em 0em 2px; }
.xar-padding-mediumsides     { padding: 0em 2px; }
.xar-padding-mediumends      { padding: 2px 0em; }

.xar-padding-thicktop        { padding: 4px 0em 0em 0em; }
.xar-padding-thickleft       { padding: 0em 4px 0em 0em; }
.xar-padding-thickbottom     { padding: 0em 0em 4px 0em 0em; }
.xar-padding-thickright      { padding: 0em 0em 0em 4px; }
.xar-padding-thicksides      { padding: 0em 4px; }
.xar-padding-thickends       { padding: 4px 0em; }

/* minimal formatting - relative margin */
.xar-margin-thin            { margin: 1px; }
.xar-margin-medium          { margin: 2px; }
.xar-margin-thick           { margin: 4px; }

.xar-margin-thintop         { margin: 1px 0em 0em 0em; }
.xar-margin-thinleft        { margin: 0em 1px 0em 0em; }
.xar-margin-thinbottom      { margin: 0em 0em 1px 0em 0em; }
.xar-margin-thinright       { margin: 0em 0em 0em 1px; }
.xar-margin-thinsides       { margin: 0em 1px; }
.xar-margin-thinends        { margin: 1px 0em; }

.xar-margin-mediumtop       { margin: 2px 0em 0em 0em; }
.xar-margin-mediumleft      { margin: 0em 2px 0em 0em; }
.xar-margin-mediumbottom    { margin: 0em 0em 2px 0em 0em; }
.xar-margin-mediumright     { margin: 0em 0em 0em 2px; }
.xar-margin-mediumsides     { margin: 0em 2px; }
.xar-margin-mediumends      { margin: 2px 0em; }

.xar-margin-thicktop        { margin: 4px 0em 0em 0em; }
.xar-margin-thickleft       { margin: 0em 4px 0em 0em; }
.xar-margin-thickbottom     { margin: 0em 0em 4px 0em 0em; }
.xar-margin-thickright      { margin: 0em 0em 0em 4px; }
.xar-margin-thicksides      { margin: 0em 4px; }
.xar-margin-thickends       { margin: 4px 0em; }

/* minimal formatting - border control */
.xar-border-thin            { border-width: 1px; }
.xar-border-medium          { border-width: 2px; }
.xar-border-thick           { border-width: 4px; }

.xar-border-thintop         { border-width: 1px 0px 0px 0px; }
.xar-border-thinleft        { border-width: 0px 1px 0px 0px; }
.xar-border-thinbottom      { border-width: 0px 0px 1px 0px 0px; }
.xar-border-thinright       { border-width: 0px 0px 0px 1px; }
.xar-border-thinsides       { border-width: 0px 1px; }
.xar-border-thinends        { border-width: 1px 0px; }

.xar-border-mediumtop       { border-width: 2px 0px 0px 0px; }
.xar-border-mediumleft      { border-width: 0px 2px 0px 0px; }
.xar-border-mediumbottom    { border-width: 0px 0px 2px 0px 0px; }
.xar-border-mediumright     { border-width: 0px 0px 0px 2px; }
.xar-border-mediumsides     { border-width: 0px 2px; }
.xar-border-mediumends      { border-width: 2px 0px; }

.xar-border-thicktop        { border-width: 4px 0px 0px 0px; }
.xar-border-thickleft       { border-width: 0px 4px 0px 0px; }
.xar-border-thickbottom     { border-width: 0px 0px 4px 0px 0px; }
.xar-border-thickright      { border-width: 0px 0px 0px 4px; }
.xar-border-thicksides      { border-width: 0px 4px; }
.xar-border-thickends       { border-width: 4px 0px; }


/* relative positioning of specific block elements */
div.xar-center              { text-align: center; margin-left:auto; margin-right:auto;}


/* lists and related elements */
.xar-navlist                { padding-left: 0;margin-left: 0;}

/* relative positioning of specific inline and block elements */
label.xar-minpadding  span  { padding-left: 2px; padding-right: 2px; } .xar-left{
   text-align: left;
}
