/* system menus in left and right blocks */

.xar-block-body ul, 
.xar-block-body-right ul,
.xar-block-body ul li, 
.xar-block-body-right ul li {
}

.xar-block-body ul, 
.xar-block-body-right ul { 
    list-style-type: none;
    margin: 0;
    padding-left: 3px;
}

.xar-block-body ul li, 
.xar-block-body-right ul li { 
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
    margin-top: 10px;
    font-size: 100%;
    padding-left: 0px;
    color: #bf514c;
}

.xar-block-body ul li.xar-menu-section, 
.xar-block-body-right ul li.xar-menu-section {
}

/* offset collapsing margins effect and style up heading tags */
.xar-block-body ul li.xar-menu-section h4, 
.xar-block-body-right ul li.xar-menu-section h4 {
}

/* common rules for all items containers - li elements */
.xar-block-body ul ul li.xar-menu-item, 
.xar-block-body-right ul ul li.xar-menu-item,
.xar-block-body ul ul li.xar-menu-item-current, 
.xar-block-body-right ul ul li.xar-menu-item-current {
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
    margin-top: 10px;
    font-size: 100%;
    padding-left: 0px;
    color: #777681;
}

/* common rules for all anchors in the menus */
.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a,
.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover,
.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a,
.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover {
}

/* menu items anchors - normal state */
.xar-block-body ul ul li.xar-menu-item a, 
.xar-block-body-right ul ul li.xar-menu-item a {
    color: #d96b65;
}

/* menu items anchors - hover state */
.xar-block-body ul ul li.xar-menu-item a:hover, 
.xar-block-body-right ul ul li.xar-menu-item a:hover {
    color: #753a37;
}

/*  visually highlight the currently active items and subitems,
    below is one example of various possible implementations */
.xar-block-body ul ul li.xar-menu-item-current, 
.xar-block-body-right ul ul li.xar-menu-item-current {
}

/* menu current items anchors - normal state */
.xar-block-body ul ul li.xar-menu-item-current a, 
.xar-block-body-right ul ul li.xar-menu-item-current a {
}

/* menu current items anchors - hover state */
.xar-block-body ul ul li.xar-menu-item-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-item-current a:hover {
}

/*  common rules for subitems elements */
.xar-block-body ul ul li.xar-menu-subitem, 
.xar-block-body-right ul ul li.xar-menu-subitem,
.xar-block-body ul ul li.xar-menu-subitem-current, 
.xar-block-body-right ul ul li.xar-menu-subitem-current {
}

/*  common rules for anchors in subitems,
    if you dont like right alignment or fixed font size - change it here */
.xar-block-body ul ul li.xar-menu-subitem a, 
.xar-block-body-right ul ul li.xar-menu-subitem a,
.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
}

/*  subitems anchors - hover state */
.xar-block-body ul ul li.xar-menu-subitem a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem a:hover {
}

/*  subitems anchors current - normal state */
.xar-block-body ul ul li.xar-menu-subitem-current a, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a {
}

/*  subitems anchors current - hover state */
.xar-block-body ul ul li.xar-menu-subitem-current a:hover, 
.xar-block-body-right ul ul li.xar-menu-subitem-current a:hover {
}
