@import url(layout.css);
@import url(menus.css);

/* XARAYA REQUIRED CLASSES */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:link {
    color: #b4271e;
}
a:visited {
    color: #d9837d;
    text-decoration: none;
}
acronym, abbr {
    border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
    cursor: help;
    font-size: 90%;
    letter-spacing: .01em;
}
blockquote {
}
body {
    color: #2e2e2e;
    background-color: white;
}
code {
    font-family: 'Courier New', Courier, Fixed, sans-serif;
    font-size: 120%; } 
}
h1 {
    font-size: 120%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    color: #b4271e;
}
h2 {
    font-size: 110%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    color: #b4271e;
}
h3 {
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size:100%;
    color: #b4271e;
}
h4 {
    font-size: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
th {
}
td {
}
table {
}
thead {
}
tbody {
}
tfoot {
}
p {
    color: #2e2e2e;
}
pre {
}
input {
}
button {
}
select {
}
textarea {
}
img {
    border: 0;
}
li {
}
ul {
}
ol {
}
sup {
}
sub {
}

/*  XARAYA REQUIRED INDIVIDUAL CLASSES */
td.xar-norm {}
td.xar-alt {}

/*  XARAYA REQUIRED ANONYMOUS CLASSES  */

/* these defaults apply to the left block group */
.xar-block-head{
}
.xar-block-title {
}
.xar-block-body {
}
.xar-block-foot {
}

/* right block group classes */
.xar-block-head-right{
}
.xar-block-title-right {
}
.xar-block-body-right {
}
.xar-block-foot-right {
}

/* topnav block group classes */
.xar-block-head-topnav {
}
.xar-block-title-topnav {
}
.xar-block-body-topnav {
}
.xar-block-foot-topnav {
}

/* center block group classes */
.xar-block-head-center{
}
.xar-block-title-center {
}
.xar-block-body-center {
}
.xar-block-foot-center {
}
.xar-mod-head {
}
.xar-mod-title {
}
.xar-mod-body {
}
.xar-mod-foot {
}
.xar-alt {
}
.xar-accent {
}
.xar-alt-outline {
}
.xar-accent-outline {
}
.xar-norm-outline {
}
.xar-norm {
}
.xar-sub {
}
.xar-menu-section {
}
.xar-menu-section-current {
}
.xar-menu-item {
}
.xar-menu-item-current {
}
.xar-menu-item:hover {
}
.xar-menu-subitem {
}
.xar-menu-subitem:hover {

}
.xar-menu-subitem-current {
}
.xar-menu-item-current > .xar-menu-subitem > a {
}
.xar-menu-item-current > .xar-menu-subitem > a:visited {
}
.xar-title {
}
.xar-error {
}

