.xar-roletree-box {
}
.xar-roletree-branch {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    visibility: inherit;
}
.xar-roletree-leaf {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    visibility: inherit;
}
