html, body {
    margin: 0;
    padding: 0;
    background-color: #FEFDFD;
}
a img {
    border: none;
}

/* Basic font styles */
* {
    font: 12px/1.4em Helvetica, Arial, sans-serif;
    color: #18284E;
}
h1 {
    font-size: 120%;
    font-weight: bold;
    color: #AE4E06;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    background-color: #F1FBFF;
    padding: .35em;
    margin-top: 2.8em;
}
h2 {
    font-size: 112%;
    font-weight: bold;
    color: #AE4E06;
    letter-spacing: 1px;
    margin: 2.8em 0 1.4em;
}
h3 {
    font-size: 104%;
    font-weight: bold;
    color: #AE4E06;
}
legend {
    font-size: 104%;
    font-weight: bold;
    color: #AE4E06;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:active {
    color: red;
}

/* General used mark-up */
.seperator {
    clear: both;
    visibility: hidden;
}
fieldset {
    margin-bottom: 1.2em;
    border: 1px solid #D9C78E;
}

/* Styling the top level blockgroups */
#iceBg {
    position: absolute;
    top: -40px;
    right: -10px;
    z-index: 10;
}
#iceNavSide a, #iceContent a {
    position: relative;
    z-index: 20;
}
#iceHeader {
    height: 36px;
    margin: 29px 0 0;
    border: 10px solid #384890;
    border-width: 10px 0;
    padding: 12px 24px 12px 36px;
    background-color: #C7EFFA;
}
#iceHeader #iceLogo {
    display: block;
    position: absolute;
    top: 12px;
    left: -36px;
    z-index: 30;
}
#iceHeader #iceSlogan {
    padding-top: 11px;
    text-align: right;
    font-size: 120%;
    font-weight: bold;
    color: #384890;
    font-style: italic;
    letter-spacing: 6px;
}
/* variant 1 */
#iceHeader {
    border-color: #AB5112; 
    background-color: #D9C78E;
}
#iceHeader #iceSlogan {
    position: relative;
    z-index: 20;
    color: #AB5112;
}
/* variant 2 */
#iceHeader {
    border-color: #761A02; 
    background-color: #AB5112;
}
#iceHeader #iceSlogan {
    color: #D9C78E;
}
/* variant 3 */
#iceHeader {
    border-color: #613906;
    background-color: #AE4E06;
}
#iceHeader #iceSlogan {
    color: #E7C04B;
}

#iceNavSide {
    float: right;
    width: 20%;
    margin: 0 0 4em 4em;
    border-bottom: 10px solid #384890;
    padding: .5em;
    background-color: #F1FBFF;
}
#iceContent {
    min-height: 40em;
    margin: 2.8em 20% 0 0;
    padding: 0 4em 2em 4em;
}
/* #iceNavTop {
    min-height: 2.1em;
    background-color: #F1FBFF;
} */
#iceFooter {
    clear: left;
    border-top: 10px solid #613906;
    padding: .5em 4em;
}
#iceFooter #iceFooterXar {
    text-align: center;
}

/* iceNavSide block styling */
#iceNavSide ul {
    margin: 0;
    padding: 0 0 0 1em;
}
#iceNavSide ul ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 1em;
}

/* Styling commerce specific */
.xar-modCommerceIncReference-data .colLeft {
    float: left;
    width: 48%;
}
.xar-modCommerceIncReference-data .colRight {
    float: left;
    width: auto;
}

/* Specific css for things inside div.ice-menu */
.ice-menu ul {
    float: left; /* Makes for a horizontal organisation */
    cursor: pointer;
}

.ice-menu ul > li {
    color: blue;
}

.ice-menu li { background-image: none;}
.ice-menu li ul {display: none;} 
.ice-menu li:hover > ul {
    display: block; 
    position: absolute;
    background-color: white;
    border: thin solid black;
}   

/* For the option “Debug Templates by Showing Variables Available” */
pre {
    background-color: #EEE;
    border: 1px solid #000;
    margin: .5em;
    padding: .5em;
    font-family: monospace;
}

/* van marcel uit Xaraya Classic */
.ice-itemselector:after {
    content: url('/themes/Xaraya_Classic/images/icon_info.gif');
}

.ice-itemselected:after {
    content: url('/themes/Xaraya_Classic/images/icon_arrow_right.gif');
}

.ice-itemselector:hover {
    background-color: lightgray;
    cursor: pointer;
}

.ice-itemselected {
    background-color: red;
}

.ice-pager {
    text-align: center;
}

#ice-pager-statusline  {
    font-size: 0.8em;
}

/* Specific css for things inside div.ice-menu */
.ice-menu ul {
    float: left; /* Makes for a horizontal organisation */
    cursor: pointer;
}

.ice-menu ul > li {
    color: blue;
}

.ice-menu li { background-image: none;}
.ice-menu li ul {display: none;} 
.ice-menu li:hover > ul {
    display: block; 
    position: absolute;
    background-color: white;
    border: thin solid black;
}    
