# Ignore everything in this directory
*
# Except these files and directories
!.gitignore
!composer.json
!RestApiTest.php
!phpunit.xml.dist
!view_sample.request.json
!view_sample.result.json
!Makefile
!OpenApiTest.php
